body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #eafaf1;
    color: #333;
    text-align: center;
    padding: 50px;
    transition: background-color 0.5s ease;
  }
  
  h1 {
    color: #00a2d3;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    background-color: #00a2d3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00c3ff;
    transition: 0.5s;
  }